{% extends 'base.html.twig' %}

{% block title %}
    honger
{% endblock %}

{% block body %}




    <div class="card text-center text-white mt-5">


        <div class="fixed-top py-3", id="short-logo", style="display: none; background-image: url('/img/homepagewrite-short.png');">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <form class="form-inline">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>
        <img class="card-img" src="{{ asset('img/homepagewrite.png') }}" alt="Card image", id="logo">
        <div class="card-img-overlay align-middle", style="margin-top: 15%", id="navbart">
            <div >
                <h4 class="card-title"><b>Card title</b></h4>
                <p class="card-text"><b>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</b></p>
                <p class="card-text">Last updated 3 mins ago</p>
            </div>
            <ul class="nav justify-content-center", id="navbars">
                <li>
                    <div class="">
                        <ul class="nav">
                            <li class="nav-item">
                                <form class="form-inline">
                                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-light" type="submit">Search</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <section class="container shadow", style="margin-top: -10%", id="art1">
        <div class="jumbotron card-deck mt-3">
            <div class="card shadow">
                <a href="{{ path('app_article_showad', {'slug': 'Restaurante 1'}) }}"><img src="{{ asset('img/carousel/img1.png') }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <a href="{{ path('app_article_showad', {'slug': 'Restaurante 2'}) }}"><img src="{{ asset('img/carousel/img2.png') }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <a href="{{ path('app_article_showad', {'slug': 'Restaurante 3'}) }}"><img src="{{ asset('img/carousel/img3.png') }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </section>

    <div class="dropdown fixed-bottom">
        <div class="container">
            <div class="float-right">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    chat de honger
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <iframe
                            allow="microphone;"
                            width="350"
                            height="430"
                            src="https://console.dialogflow.com/api-client/demo/embedded/454468dd-2801-401b-b4dc-e872b44b67dd">
                    </iframe>
                </div>
            </div>
        </div>


    </div>

    <script>
        // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 5 || document.documentElement.scrollTop > 5) {
                document.getElementById("navbart").style.display = "none";
                //document.getElementById("navbars").style.display = "none";
                document.getElementById("logo").style.display = "none";
                document.getElementById("short-logo").style.display = "block";
                document.getElementById("short-logo").style.marginTop = "7%";
                document.getElementById("art1").style.marginTop = "10%";
            } else {
                document.getElementById("navbart").style.display = "inline-block";
                //document.getElementById("navbars").style.position = "inline-block";
                document.getElementById("logo").style.display = "block";
                document.getElementById("short-logo").style.display = "none";
                document.getElementById("short-logo").style.animation = "fade";
                //document.getElementById("short-logo").style.marginTop = "7%";
                document.getElementById("art1").style.marginTop = "-10%";
                //document.getElementById("navbar").style.padding = "80px 10px";
                //document.getElementById("logo").style.fontSize = "35px";
            }
        }
    </script>
{% endblock %}