{% extends 'base.html.twig' %}

{% block title %}
    honger
{% endblock %}

{% block body %}

    <div class="container">
        <section class="mt-2">
            <ul class="nav justify-content-between">
                <li class="nav-item justify-content-start">
                    <a href="#" class="text-dark">example@emailexample.com</a>
                </li>

                <li>
                    &nbsp;
                </li>

                <li class="nav-item">
                    <div class="social-media">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#"><img src="{{ asset('img/twi.png') }}" width="24em"></a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.facebook.com/honger.media/"><img src="{{ asset('img/fb.jpeg') }}" width="24em"></a>
                            </li>
                            <li class="nav-item">
                                <a href="#"><img src="{{ asset('img/inst.png') }}" width="24em"></a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="profile">
                        <a href="#" class="btn btn-sm text-light bg-secondary">Login</a>
                        <a href="#" class="btn btn-sm text-light bg-secondary">Register</a>
                    </div>
                </li>
            </ul>
        </section>
    </div>

    <div class="navigation mt-2 bg-light pt-1">
        <nav class="container text-dark">
            <ul class="nav justify-content-between navbar navbar-expand-lg navbar-light bg-light">
                <li class="nav-item">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="nav-bar collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active text-dark" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#">&iquest;Qui&eacute;nes somos&quest;</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#">Contáctanos</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="search-bar">
                        <ul class="nav">
                            <li class="nav-item">
                                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2 btn-sm" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-secondary btn-sm my-2 my-sm-0" type="submit">Search</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="text-center">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <img src="{{ asset('img/logo.png') }}" class="mt-3" width="32em">
            </li>
            <li class="nav-item">
                <h1 class="text-center text-secondary mt-3">Honger</h1>
            </li>
        </ul>


    </div>
    <section class="jumbotron shadow">
        <div class="card-deck">
            <div class="card">
                <a href="{{ path('app_article_showad', {'slug': 'Restaurante 1'}) }}"><img src="{{ asset('img/carousel/img1.png') }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <a href="{{ path('app_article_showad', {'slug': 'Restaurante 2'}) }}"><img src="{{ asset('img/carousel/img2.png') }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <a href="{{ path('app_article_showad', {'slug': 'Restaurante 3'}) }}"><img src="{{ asset('img/carousel/img3.png') }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </section>

    <div class="dropdown fixed-bottom">
        <div class="container">
            <div class="float-right">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    chat de honger
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <iframe
                            allow="microphone;"
                            width="350"
                            height="430"
                            src="https://console.dialogflow.com/api-client/demo/embedded/454468dd-2801-401b-b4dc-e872b44b67dd">
                    </iframe>
                </div>
            </div>
        </div>


    </div>
{% endblock %}